.container {
  display: flex;
}

.column {
  flex: 1;
  padding: 20px;
  max-width: 30%;
}
.columnTwo {
  flex: 1;
  padding: 20px;
  max-width: 60%;
}

.rectangle {
  background-color: #edeef821;
  box-shadow: 4px 6px 6px #bdbdbd54;
  padding: 20px;
  width: auto;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.borderBottom {
  border-bottom: solid 1px #c6cafb;
  padding: 30px 0;
}

.rectangle img {
  width: 100%;
  max-width: 230px;
  display: block;
  margin-bottom: 10px;
}

.rectangle h2,
.rectangle p {
  margin: 0;
}

.row {
  margin-bottom: 10px;
}
.containerDescription {
  border: solid 1px #0f0f0f17;
  padding: 40px 30px;
  box-shadow: 4px 6px 6px #bdbdbd54;
}
.containerDescription h2 {
  border-bottom: solid 1px #0000ff17;
  padding-bottom: 15px;
}

.cursorPointer {
  cursor: pointer;
}

.audio {
  margin-top: 50px;
  width: 100%;
  height: 47px;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .rectangle {
    width: 100%;
    max-width: 100%;
  }
  .column {
    max-width: 100%;
  }
  .containerDescription {
    width: 100%;
    max-width: 100%;
  }
  .columnTwo {
    max-width: 100%;
  }
  .rectangle img {
    width: 100%;
    max-width: 100%;
  }
  .table th:first-child {
    width: 40%;
  }
}
