.container {
  display: flex;
}

.column {
  flex: 1;
  padding: 20px;
  max-width: 30%;
}

.columnTwo {
  flex: 1;
  padding: 20px;
  max-width: 60%;
}

.rectangle {
  background-color: #e0ddf71c;
  box-shadow: 10px 20px #b2a6f41c;
  padding: 20px;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.borderBottom {
  border-bottom: solid 1px #dee1fce3;
  padding: 30px 0;
}

.rectangle img {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}
.rectangle h2 {
  font-size: larger;
  font-weight: 600;
}

.rectangle h2,
.rectangle p {
  margin: 0;
}

.row {
  margin-bottom: 10px;
  padding: 20px 30px;
}

.cardContent {
  margin-bottom: 10px;
  border: solid 1px #abb2f952;
  padding: 15px 25px;
  box-shadow: 5px 2px #abb2f952;
}
.date {
  font-size: 13px;
  margin-bottom: 10px;
}

.row h2 {
  font-weight: 400;
}
.autor {
  color: #5550e2;
  font-size: 14px;
}
.minutes {
  color: #5550e2;
  font-size: 12px;
  padding: 6px 30px;
  background-color: #acaaea2b;
  border-radius: 25px;
}

.linkDiv {
  font-size: 17px;
  margin-bottom: 10px;
  color: #512275;
  text-decoration: none;
  cursor: pointer;
}

.linkDiv:hover {
  color: #8700db;
}
