.container {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  padding: 20px;
  max-width: 30%;
}

.columnTwo {
  flex: 2;
  padding: 20px;
  max-width: 70%;
}

.rectangle {
  background-color: #f8f8fbba;
  box-shadow: 4px 6px 6px #bdbdbd54;
  padding: 20px;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.borderBottom {
  border-bottom: solid 1px #0000003d;
  padding: 20px 0;
}

.rectangle img {
  width: 100%;
  max-width: 230px;
  display: block;
  margin-bottom: 10px;
}

.rectangle h2,
.rectangle p {
  margin: 0;
}

.row {
  margin-bottom: 20px;
}

.row h2 {
  border: solid 1px #bdbdbd38;
  padding: 15px 12px;
  box-shadow: 3px 3px #bdbdbd38;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ccc;
  padding: 10px 15px;
  text-align: left;
}

.table th {
  background-color: #f8f8f8;
}

.linkDiv {
  display: inline-block;
  padding: 5px 10px;
  color: #3c4ec5;
  text-decoration: none;
  cursor: pointer;
}

.linkDiv:hover {
  color: #6c6df0e0;
}

.table th:first-child {
  width: 70%;
}

.table tr:hover {
  background-color: #f1f1f1;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .rectangle {
    width: 100%;
  }
  .column {
    max-width: 100%;
  }
  .rectangle img {
    width: 100%;
    max-width: 100%;
  }
  .table {
    width: 90%; /* Ocupa el 90% del ancho en pantallas pequeñas */
    margin: 0 auto; /* Centra la tabla horizontalmente */
  }
  .table th:first-child {
    width: 40%;
  }
}
